mixin header
    header.header
        .header__bg
            img(src="/assets/images/sakuraImg.png", alt="sakura image" fetchpriority="high")
        .header__inner.container 
            h1.header__text Solutions for people like you